*{
    padding: 0;
    margin: 0;
}
#home{
background:url(images/bg-img.jpg);
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 50% 100%, 0% 80%);
height: 115vh;
color: white;
}
.home-tlt{
    width: 94%;
    padding: 7% 0px 0px 5.5%;
    /* height: 100vh; */
}
.home-tlt h2{
    width: 70%;
    font-size: 35px;

}
.home-tlt h2 span{
    padding: 0px 0px 0px 1%;
    color: rgb(9, 210, 245);
    width: 30%;
    font-size: 45px;
}
.home-tlt h4{
    margin: 1.2% 0px 0px 0px ;
    text-transform: capitalize;
    width: 50%;
}

#home .home-about h2{
    text-transform: capitalize;
    margin: 3.3% 0px 0.6% 0px;
    width: 50%;
}
#home .home-about p{
    padding: 10px 0px 0px 0px;
    width: 71%;
    font-size: 20px;
}
.home-about .btn-box .btn{
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    margin: 2rem 0px 0px 0px ;
    padding: 13px 25px 13px 25px;
    background-color: rgb(79, 82, 82);
    border: 3px solid rgb(17, 157, 238);
    border-radius: 40px;
    color: white;
}
.home-about .btn-box .btn i{
    padding: 1% 5px;
}
.btn-box .home-box{
    background-color: rgb(9, 170, 245, 0.8);
    position: relative;
    /* opacity: 0.8; */
    right: 16%;
    top: 10px;
    width: 160px;
    height: 180px;
    text-align: center;
    float: right;
    color: white;
} 
.btn-box .home-box h1{
padding: 15px 0px 0px 0px;
font-size: 70px;
font-weight: bold;
}
.btn-box .home-box h5{
align-items: center;
font-size: 17px;
text-align: center;
padding: 0px 20px 0px 20px;
text-transform: capitalize;
}
/* SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS
               My Services Section 
SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS */
#my-serices{
    width: 100%;
    position: relative;
    background-color: white;
}
/* #my-serices:before{
    content: '';
    width: 50%;
    height: 140px;
    position: absolute;
    top: -58px;
    left: 0;
    background-color: white;
    transform: skewY(8deg);
}
#my-serices:after{
    content: '';
    width: 50%;
    height: 140px;
    position: absolute;
    top: -58px;
    right: 0;
    background-color: white;
    transform: skewY(-8deg);
} */
#my-serices .my-service h1{
    text-transform: capitalize;
    padding: 5% 5% 3% 5%;
    font-size: 30px;
}
#my-serices .my-service span{
color: rgb(7, 210, 246);
}
#my-serices .services{
    display: flex;
    width: 90%;
    padding: 0% 5% 5% 5%;
}
#my-serices .services .service-boxes{
    border: whitesmoke 2px solid;
    padding: 5% 2.5%;
    margin:10px 20px 10px 0px;
    justify-content: space-around;
    box-shadow:2px 2px 2px 1px whitesmoke;
}
#my-serices .services .service-boxes h1{
    padding: 3% 0%;
    text-transform: capitalize;
}
#my-serices .services .service-boxes p{
font-size: 1.2rem;
color: black;
}
.services .service-boxes i{
    color: rgba(10, 177, 199, 0.986);
    font-size: 30px;
}
/* SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS
                    My Skill Section
    SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS */

#my-skill{
    width: 100%;
    background-image: url(images/bg.jpg);
    height: 100vh;
    opacity: 0.9;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
#my-skill .skill-heading h1{
    text-transform: capitalize;
    padding: 5%;
    text-align: center;
    font-size: 30px;
}
#my-skill .skill-heading h1 span{
    color: rgb(7, 169, 197);
}
.skill-icons{
    background-image: url(images/tea.jpg);
    width: 100%;
    height: 40vh;
    background-position: center;
    display: flex;
background-repeat: no-repeat;
justify-content: center;
align-items: center;
justify-content: space-evenly;
background-size: cover;
}
.skill-icons .sklbox{
    display: flex;
    width: 80%;
    padding: 0% 20px;
    align-items: center;
    justify-content: center;
    justify-content: space-around;

}
.skill-icons .skill-boxes{
    width: 18%;
    text-align: center;
    color: white;
}
.skill-icons .skill-boxes i{
    padding: 15%;
    color: rgba(0, 230, 251, 0.911);
    font-size: 35px;
}
.skill-icons .skill-boxesh1, p{
    color: white;
    font-size: 15px;
}
.wrap{
    max-width: 50%;
    float: right;
}
.wrap .skill-button button{
    background-color: rgb(11, 156, 224);
    color: white;
    padding: 1.5% 2%;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    width: 100px;
}
.bar{
    color: rgb(7, 0, 0);
    font-weight: 400;
    font-size: 13px;
    position: relative;
    display: inline-block;
    /* flex-direction: row; */
    margin-bottom: 25px;
    width: 80%;
}
.bar span{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 05px;
    background: rgb(253, 251, 251);
    border-radius: 50px;
}
.bar span:before{
    position: absolute;
    content: '';
    width: 95%;
    height: 100%;
    background: rgb(26, 183, 231);
    /* background: linear-gradient(to left, #ff0057, #ffeb3b); */
    border-radius: 50px;
    animation: bar 4s ease;
}
.bar:nth-child(2) span:before{
    background: red;
}
.bar:nth-child(4) span:before{
    background: blue;
}
.bar:nth-child(3) span:before{
    background: rgb(0, 217, 255);
}
@keyframes bar{
    from{
        width: 0;
    }
}
.bar:nth-child(1) span:before{
    width: 95%;
}
.bar:nth-child(2) span:before{
    width: 85%;
}
.bar:nth-child(3) span:before{
    width: 80%;
}
.bar:nth-child(4) span:before{
    width: 75%;
}
.bar:nth-child(5) span:before{
    width: 70%;
}
abbr{
    width: 35px;
    display: inline-block;
    height: 25px;
    color: white;
    border-radius: 05px;
    text-align: center;
    line-height: 25px;
    position: absolute;
    background: black;
    animation: count 4s ease;
}
@keyframes count {
    from{
        left: 0%;
    }
}
.bar:nth-child(1) abbr{
    left: 95%;
}
.bar:nth-child(2) abbr{
    left: 85%;
}
.bar:nth-child(3) abbr{
    left: 80%;
}
.bar:nth-child(4) abbr{
    left: 75%;
}
.bar:nth-child(5) abbr{
    left: 70%;
}

/* TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
                   My Team Section
TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT */
#my-team{
    /* padding: 3.5% 4%; */
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
}
#my-team .my-tm h1{
    text-transform: capitalize;
    padding: 3% 4% 3% 5%;
    font-size: 30px;
}
#my-team .my-tm h1 span{
    color: rgb(7, 210, 246);
}
#my-team .mytm-mbrs{
    display: flex;
    width: 92%;
    padding: 0% 4%;
    height: 100%;
}
#my-team .team-mbrs{
    width: 100%;
    height: 100%;
    display: flex;
}
#my-team .mytm-mbrs .team-mbrs .teams{
    width: 100%;
    height: 100%;
    margin-top: 20px;
}
#my-team .team-mbrs .teams img{
    width: 93%;
    height: 93%;
}
#my-team .team-mbrs .teams h2{
    text-align: center;
    width: 93%;
    font-size: 20px;
    text-transform: capitalize;
}
#my-team .team-mbrs .teams p{
    text-align: center;
    box-sizing: border-box;
    width: 93%;
    color: rgb(8, 240, 248);
    font-weight: bold;
    font-size: 20px;
    text-transform: capitalize;
}
#my-team .team-mbrs .teams .teams-icns{
    background-color: rgb(40, 180, 245);
    width: 93%;
    margin-top: 10px;
    padding: 3.5% 0%;
    word-spacing: 15px;
    color: white;
    text-align: center;
}
/* PPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPP
               My Portfolio Section
PPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPP */
#my-portfilo{
    width: 100%;
    height: 100%;
}
#my-portfilo .portfilo-heading h1{
    padding: 6% 4% 0px;
    text-transform: capitalize;
    font-size: 30px;
}
#my-portfilo .portfilo-heading h1 span{
    color: rgb(7, 210, 246);
}
#my-portfilo .nav{
width: 100%;
height: 50%;
text-align: center;
display: flex;
justify-content: center;
padding-bottom: 20px;
}
#my-portfilo .nav ul{
display: flex;
list-style: none;
flex-direction: row;
text-align: center;
text-transform: capitalize;
}
#my-portfilo .nav ul li a{
margin: 10px;
font-size: 15px;
text-decoration: none;
font-weight: bold;
color: black;
}
#my-portfilo .prtflo-details{
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
}
#my-portfilo .portfilo-images{
    width: 92%;
    height: 100%;
    align-items: center;
    display: flex;
    margin: 0% 0% 0% 7%;
}
#my-portfilo .portfilo-images .img{
    width: 32%;
    display: flex;
    flex-direction: column;
    height: 40%;
}
#my-portfilo .portfilo-images .img-phto{
    height: 100%;
    width: 96%;
    margin: 0% 0% 5% 0%;
    box-shadow: 3px 2px 12px 7px rgb(230, 225, 225);
}
#my-portfilo .portfilo-images .img-phto img{
    height: 100%;
    width: 100%;
    
}
#my-portfilo .portfilo-images .img-photos{
    margin: 0% 0% 5% 0%;
    height: 30vh;
    width: 96%;
    box-shadow: 3px 2px 12px 7px rgb(230, 225, 225);
}
#my-portfilo .portfilo-images .img-photos img{
    height: 84%;
    width: 100%;
}
#my-portfilo .portfilo-images .img p{
    text-transform: uppercase;
    padding: 2% 3%;
    font-weight:500;
    color: black;
}
#my-portfilo .portfilo-images .img p span{
    color: rgb(7, 210, 246);
    font-size: 15px;
    font-weight: bold;
    float: right;
}
#my-portfilo .prtflo-details .prtflo-btn{
    text-align: center;
    display: flex;
    justify-content: center;
}
#my-portfilo .prtflo-details .prtflo-btn button{
    background-color: white;
    border: 3px solid rgb(18, 191, 214);
    width: 120px;
    text-transform: uppercase;
    height: 40px;
    border-radius: 50px;
}
/* CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
            Happy Clients Section
CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC */
#Happy-Clients{
    background:rgba(245, 245, 245, 0.445);
    width: 100%;
}
#Happy-Clients .Clients-heading h1{
text-transform: capitalize;
padding: 6% 4% 0px;
font-size: 30px;
}
#Happy-Clients .Clients-heading h1 span{
    color: rgb(7, 210, 246);
}
#Happy-Clients .clients-boxes{
display: flex;
justify-content: space-between;
width: 92%;
padding: 2% 4%;
/* flex-direction: row; */
}
#Happy-Clients .clients-boxes .clients-box{
    width: 80%;
    justify-items: center;
    margin: 3%;
    padding: 2%;
    box-shadow:2px 2px 2px 4px rgba(245, 245, 245, 0.479);
    background-color: whitesmoke;
}
#Happy-Clients .clients-boxes .clients-box img{
    width: 15%;
    height: 14vh;
    border-radius: 50%;
    margin: 0% 0% 0% 40%;
    justify-items: center;
    float:center;
    text-align: center;
}
#Happy-Clients .clients-boxes .clients-box p{
    text-align: center;
    margin: 0% 5%;
    color: black;
    border-left: rgb(12, 12, 12) 2px solid;
}
#Happy-Clients .clients-boxes .clients-box h4{
    text-align: center;
    margin: 0% 5%;
    /* border-left: rgb(12, 12, 12) 2px solid; */
}
#Happy-Clients .clients-boxes .clients-box h1{
    text-align: center;
    padding: 0% 5%;
}
#Happy-Clients .clients-boxes .clients-box i{
    color: rgb(7, 210, 246);
}
/* NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN
                    News Section
    NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN */
#latest-news{
    width: 100%;
    background-color: white;
}
#latest-news .news-heading h1{
    text-transform: capitalize;
    padding: 6% 4% 0px;
    font-size: 30px;
    }
#latest-news .news-heading h1 span{
    color: rgb(7, 210, 246);
    }
#latest-news .news-boxes{
    display: flex;
    width: 90%;
    margin: 5.5%;
}
#latest-news .news-boxes .news-box{
    display: flex;
    width: 100%;
    margin: 1% 3%;
}

#latest-news .news-boxes .news-box img{
width: 100%;
height: 100%;
}  
#latest-news .news-boxes .news-box .news-details 
{
    width: 92%;
    background: whitesmoke;
    padding: 4%;
}
#latest-news .news-boxes .news-box .news-details .john{
    display: flex;
    flex-direction: row;
    padding: 02% 0%;
    text-transform: capitalize;
}  
#latest-news .news-boxes .news-box .news-details .john h4:nth-child(2) {
    margin:0% 9%;
    

}
#latest-news .news-boxes .news-box .news-details .john i{
    color: rgb(7, 210, 246);
    /* padding: 0px 1%; */
}
#latest-news .news-boxes .news-box .news-details p{
    font-size: 20px;
    color: black;
} 
#latest-news .news-boxes .news-box .news-details button{
    color: rgb(7, 178, 246);
    padding: 5% 0%;
    font-size: 15px;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    background-color: whitesmoke;
}     
/* GETGETGETGETGETGETGETGETGETGETGETGETGETGET
                Get In Touch Section
    GETGETGETGETGETGETGETGETGETGETGETGETGETGET */
    #touch{
        width: 100%;
        height: 80vh;
        background-color: rgba(245, 245, 245, 0.993);
    }
    #touch .touch-heading h1{
    text-transform: capitalize;
    padding: 4% 4% 0px;
    font-size: 30px;
    }
    #touch .touch-heading h1 span{
        color: rgb(7, 210, 246);
    }
    #touch .contact .form{
        background-color: white;
        padding: 0% 2% 0px;
        border-radius: 6px;
        width: 90%;
        height: 70%;
    }
    #touch .contact .form h1{
        text-transform: capitalize;
        padding: 04% 2%;
    }
    #touch .contact{
        width: 90%;
        height: 100%;
        display: flex;
        /* flex-direction: row; */
        justify-content: space-between;
        padding: 1.5% 4% 0px;
    }
    #touch .contact .for-form .frm{
        margin: 1% 0%;
        display: flex;
        flex-direction: row;
        border: none;
        justify-content: space-between;
        width: 100%;
	overflow: hidden;
	font-size: 20px;
    }
    #touch .contact .for-form .frm input{
    border: none;
	outline: none;
	color: white;
	font-size: 18px;
    border-bottom: 2px solid #4caf50;
	width: 90%;
	float: left;
	margin: 10px 14px;
    padding: 1% 1%;
    }
    #touch .contact .for-form .frm textarea{
        border: none;
        outline: none;
        color: rgb(14, 11, 11);
        border-bottom: 2px solid #4caf50;
        width: 98%;
        max-height: 200px;
        margin: 0px 9px;
        padding: 0% 1.5%;
    }
    #touch .contact .for-form button{
        border: 3px solid rgb(0, 195, 255);
        background-color: white;
        padding: 2% 4%;
        border-radius: 2rem;
        cursor: pointer;
        text-transform: capitalize;
    }
    #touch .contact .for-form{
        padding: 0% 0%;
    }
    #touch .contact .google-mape iframe{
        margin-top: 1%;
        margin-left: 6%;
        width: 99%;
        height: 80%;
    }
    #touch .contact .google-mape{
        width: 90%;
        height: 80%;
        
    }
/* FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF
                  Footer Section
FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF */
.footer{
    background-color: rgb(10, 8, 8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
    padding-bottom: 0px;
    height: 30vh;
    font-size: 22px;
    align-items: center;
    padding: 1rem 0;
}
.footer .footer-icons {
   display: flex;

}
.footer .footer-icons .icon-wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 30px;
   width: 30px;
   background-color: white;
   color: black;
   border-radius: 50%;
   margin: 0 4px;
}
.footer .footer-icons .icon-wrapper:hover {
   background: rgba(0,0,0,0.4);
   color: white;
}
.footer .footer-Address{
    color: white;
}